---
import Layout from '../layouts/Layout.astro';
---
<Layout title="CV - Milton Medina | Senior Backend Architect" 
  description="Especialista en Python, Django y automatización industrial con más de 10 años de experiencia en sistemas de misión crítica." 
  isHome={false}>
    <main>
        </main>
</Layout>